.App-background {
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
}

.App-book {
  padding-top: 10px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-padding {
  padding-right: 10px;
}

.App-image {
  padding-right: 16px;
}

.App-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
